In [139]:
import pandas as pd

In [140]:
df = pd.read_csv('data/FixIt.csv', index_col=None)

In [141]:
df.head()
print(df.columns.tolist())

['A', 'Label', 'BARCODE']

In [156]:
import numpy as np
dfA = df.loc[:,['A', 'Label']]
# drop nans in column bar
dfB = df.loc[:,['BARCODE']]
dfB = dfB.dropna(axis=0, how='any')
dfB.reset_index(drop=True, inplace=True)
dfB.head()

                             BARCODE
0  @52070900777209100209406331451827
1  @52070900777209100209406331451844
2  @52070900777210100209406331451864
3  @52070900777210100209406331451879
4  @52070900777210100209406331451886

In [157]:
dfA.head()

                                       A     Label
0  @52070900777209100209406331451825.CEL  0.910223
1  @52070900777209100209406331451827.CEL  0.819914
2  @52070900777209100209406331451844.CEL  0.676532
3  @52070900777210100209406331451864.CEL  1.072747
4  @52070900777210100209406331451879.CEL  0.843531

In [158]:
A_arr = []
for i, row in dfA.iterrows():
    A_col_ID = row[0].split('.')[0]
    str_A_col_ID = A_col_ID.replace('@', '')
    A_arr.append(str_A_col_ID)
dfA.loc[:, 'barcodeId'] = A_arr

In [159]:
# dfA['A'] = A_arr

In [160]:
dfA.head()

,A,Label,barcodeId
0,@52070900777209100209406331451825.CEL,0.910223,52070900777209100209406331451825
1,@52070900777209100209406331451827.CEL,0.819914,52070900777209100209406331451827
2,@52070900777209100209406331451844.CEL,0.676532,52070900777209100209406331451844
3,@52070900777210100209406331451864.CEL,1.072747,52070900777210100209406331451864
4,@52070900777210100209406331451879.CEL,0.843531,52070900777210100209406331451879

In [161]:
B_arr = []
for i, row in dfB.iterrows():
    if isinstance(row['BARCODE'], str):
        str_B_col_ID = row['BARCODE'][1:]
        B_arr.append(str_B_col_ID)
    else:
        B_arr.append('')
dfB.loc[:, 'barcodeId'] = B_arr

In [162]:
dfB

                               BARCODE                         barcodeId
0    @52070900777209100209406331451827  52070900777209100209406331451827
1    @52070900777209100209406331451844  52070900777209100209406331451844
2    @52070900777210100209406331451864  52070900777210100209406331451864
3    @52070900777210100209406331451879  52070900777210100209406331451879
4    @52070900777210100209406331451886  52070900777210100209406331451886
..                                 ...                               ...
330  @52070900908407090911411361598805  52070900908407090911411361598805
331  @52070900910049111411412086664470  52070900910049111411412086664470
332  @52070900910054111411412086464990  52070900910054111411412086464990
333  @52070900910054111411412086465003  52070900910054111411412086465003
334  @52070900910057111411412086465158  52070900910057111411412086465158

[335 rows x 2 columns]

In [167]:
#inner join the two dataframes on the barcodeId column
df_final = pd.merge(dfA, dfB, on='barcodeId', how='inner')
df_final.drop(columns=['barcodeId'], inplace=True)
df_final.head()

,A,Label,BARCODE
0,@52070900777209100209406331451827.CEL,0.819914,@52070900777209100209406331451827
1,@52070900777209100209406331451844.CEL,0.676532,@52070900777209100209406331451844
2,@52070900777210100209406331451864.CEL,1.072747,@52070900777210100209406331451864
3,@52070900777210100209406331451879.CEL,0.843531,@52070900777210100209406331451879
4,@52070900777210100209406331451886.CEL,0.825570,@52070900777210100209406331451886

In [168]:
df_final.to_csv('data/FixIt_final.csv')